/**/
*{margin:0;padding:0;box-sizing:border-box;}
body{font-size:0.24rem;}
ul,ol,li{list-style:none;}
span,b,i,em{font-style:normal;}
a{color:#000;text-decoration:none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
img{ max-width: 100%; }
.clearfix:after{content:'';display:block;clear:both;}
html,body{ height:100%;}
input,button,select,option{
  border:none;
  box-shadow: none;
  outline:none;
}
input{
  font-size: 0.28rem;
}
button{
  background: -webkit-linear-gradient(#01ff49, #167703); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#01ff49, #167703); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#01ff49, #167703); /* Firefox 3.6 - 15 */
  background: linear-gradient(#01ff49, #167703); /* 标准的语法 */
}
button:active{
  background: #00800f;
}
